<!-- customers.hbs -->

<h2>Customers</h2>
<script src="customers.js"> </script>
<button onclick="addCustomer()">Add</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Create Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
        <td>{{this.customerID}}</td>
        <td>{{this.customerName}}</td>
        <td>{{this.customerEmail}}</td>
        <td>{{this.customerPhone}}</td>
        <td>{{this.customerAddress}}</td>
        <td>{{this.createDate}}</td>
        <td>
            <button onclick="editCustomer(this)">Edit</button>
            <button onclick="deleteCustomer({{this.customerID}})">Delete</button>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
<div id="form-space" style="display: block"></div>
<div id="customerFormContainer" style="display: none;">
    <h3 id="formHeader"></h3>
    <form id="customerForm" data-mode="">
        <fieldset>
            <nobr>
                <label for="customerID"></label>
                <input type="hidden" id="customerID" readonly>
            </nobr>
            
            <nobr>
                <label for="customerName">Name:</label>
                <input type="text" id="customerName">
            </nobr>
            
            <nobr>
                <label for="customerEmail">Email:</label>
                <input type="email" id="customerEmail">
            </nobr>
            
            <nobr>
                <label for="customerPhone">Phone:</label>
                <input type="tel" id="customerPhone">
            </nobr>
            
            <nobr>
                <label for="customerAddress">Address:</label>
                <input type="text" id="customerAddress">
            </nobr>

        </fieldset>
        <button type="button" onclick="addOrUpdateCustomerInData()">Save Customer</button>
        <button type="button" onclick="hideCustomerForm()">Cancel</button>
    </form>
</div>
<div id="deleteCustomerFormContainer" style="display: none;">
    <h3>Delete Customer</h3>
    <form id="deleteCustomerForm">
        <p id="deleteCustomerConfirmation"></p>
        <button type="button" onclick="removeCustomerFromData()">Delete Customer</button>
        <button type="button" onclick="hideDeleteCustomerForm()">Cancel</button>
    </form>
</div>
