    <h2>Plants Suppliers</h2>
    <script src="plantssuppliers.js"></script>
    <button onclick="addPlantsSupplier()">Add</button>
    <table>
        <thead>
        <tr>
            <th>Plant Name</th>
            <th>Supplier Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
            <td data-id="{{this.plantID}}">{{this.plantName}}</td>
            <td data-id="{{this.supplierID}}">{{this.supplierName}}</td>
            <td>
                <button onclick="editPlantsSupplier(this)">Edit</button>
                <button onclick="deletePlantSupplier({{this.plantID}},{{this.supplierID}})">Delete</button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <div id="form-space" style="display: block"></div>
    <div id="plantsSuppliersFormContainer" style="display: none;">
        <h3 id="formHeader"></h3>
        <form id="plantsSuppliersForm" data-mode="">
            <fieldset>
            <nobr><label for="plantID">Plant</label>
            <select id="plantID">
                {{#each plants}}
                <option value="{{this.plantID}}">{{this.plantName}}</option>
                {{/each}}
            </select>
            </nobr>
            <nobr><label for="supplierID">Supplier</label>
            <select id="supplierID">
                {{#each suppliers}}
                <option value="{{this.supplierID}}">{{this.supplierName}}</option>
                {{/each}}
            </select>
            </nobr>
        </fieldset>
            <button type="button" onclick="addOrUpdatePlantSupplierInData()">Save Plant</button>
            <button type="button" onclick="hideForm()">Cancel</button>
        </form>
    </div>

    <div id="deleteFormContainer" style="display: none;">
        <h3>Delete Plant</h3>
        <form id="deleteForm">
            <p id="deletePlantSupplierConfirmation"></p>
            <button type="button" onclick="removePlantSupplierFromData()">Delete Order</button>
            <button type="button" onclick="hideDeleteForm()">Cancel</button>
        </form>
    </div>