<h2>Suppliers</h2>
<script src="suppliers.js"> </script>
<button onclick="addSupplier()">Add</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Amount Due</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
        <td>{{this.supplierID}}</td>
        <td>{{this.supplierName}}</td>
        <td>{{this.supplierPhone}}</td>
        <td>{{this.supplierEmail}}</td>
        <td>{{this.amountDue}}</td>
        <td>
            <button onclick="editSupplier(this)">Edit</button>
            <button onclick="deleteSupplier({{this.supplierID}})">Delete</button>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
<div id="form-space" style="display: block"></div>
<div id="supplierFormContainer" style="display: none;">
    <h3 id="formHeader">Edit Supplier</h3>
    <form id="supplierForm" data-mode="">
        <fieldset>
            <nobr>
                <label for="supplierID"></label>
                <input type="hidden" id="supplierID" readonly>
            </nobr>
            
            <nobr>
                <label for="supplierName">Name:</label>
                <input type="text" id="supplierName">
            </nobr>
            
            <nobr>
                <label for="supplierPhone">Phone:</label>
                <input type="tel" id="supplierPhone">
            </nobr>
            
            <nobr>
                <label for="supplierEmail">Email:</label>
                <input type="email" id="supplierEmail">
            </nobr>
            
            <nobr>
                <label for="amountDue">Amount Due:</label>
                <input type="number" id="amountDue" step="0.01">
            </nobr>
        </fieldset>
        <button type="button" onclick="addOrUpdateSupplierInData()">Save Supplier</button>
        <button type="button" onclick="hideSupplierForm()">Cancel</button>
    </form>
</div>
<div id="deleteSupplierFormContainer" style="display: none;">
    <h3>Delete Supplier</h3>
    <form id="deleteSupplierForm">
        <p id="deleteSupplierConfirmation"></p>
        <button type="button" onclick="removeSupplierFromData()">Delete Supplier</button>
        <button type="button" onclick="hideDeleteSupplierForm()">Cancel</button>
    </form>
</div>
